{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Newspapers France Map</title>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'newspaper/img/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{% static 'newspaper/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <!-- Slider
    ================================================== -->
    <link href="{% static 'newspaper/css/owl.carousel.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'newspaper/css/owl.theme.css' %}" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static 'newspaper/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'newspaper/css/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'newspaper/css/loader.css' %}">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{% static 'newspaper/js/modernizr.custom.js' %}"></script>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="{% static 'newspaper/js/loader.js' %}"></script>
    <script type="text/javascript" src="{% static "newspaper/js/modernizr.custom.js" %}"></script>

    {% block scriptJS %}
    {% endblock scriptJS %}

  </head>


  <body>
    <div class="se-pre-con"></div>

    {% block navigation %}
    {% endblock navigation %}

    {% block main %}
    {% endblock main %}

    {% block footer %}
    {% endblock footer %}

  </body>

  {% block d3v4 %}
  {% endblock d3v4 %}

  {% block d3v3 %}
  {% endblock d3v3 %}


</html>
