{% extends 'newspaper/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block scriptJS %}
<link href="{% static 'newspaper/js/jqvmap.css' %}" media="screen" rel="stylesheet" type="text/css" />
<script src="{% static 'newspaper/js/jquery.vmap.js' %}" type="text/javascript"></script>
<script src="{% static 'newspaper/js/jquery.vmap.france.js' %}" type="text/javascript"></script>
<script src="{% static 'newspaper/js/jquery.vmap.colorsFrance.js' %}" type="text/javascript"></script>

<!-- D3js -->
<script src="{% static 'newspaper/js/d3.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'newspaper/css/multi_lines_chart.css' %}">

<!-- Bootstrap -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<script type="text/javascript">
$(document).ready(function() {
	$('#francemap').vectorMap({
	  map: 'france_fr',
		hoverOpacity: 0.5,
		hoverColor: false,
		backgroundColor: "#ffffff",
		colors: couleurs,
		borderColor: "#000000",
		selectedColor: "#EC0000",
		enableZoom: false,
		showTooltip: true,
    onRegionClick: function(element, code, region)
    {
        var message = 'Département {{ a }}: "'
            + region
            + '" || Code : "'
            + code
			      + '"';
        console.log(message);
        //document.getElementById("TextDept").innerHTML = region;
        //document.getElementById("TextCode").innerHTML = code;
        document.getElementById("selectDept").value = code;
        if (region == "Paris") {
          console.log("OOOOK");
        }
    }
	});
});
</script>
{% endblock scriptJS %}


{% block main %}
<!-- Navigation
==========================================-->
<!--<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">-->
<nav id="tf-menu" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#"><font size=3>Partie Analyse</font></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><font>Home</font></a></li>
        <li><a href="/france"><font color="#C6B068" size="5">Analyse</font></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- BODY -->
<div class="container">

		<div class="row">

							<div class="col-sm-7">

								<div class="au-card m-b-30">
										<div class="au-card-inner">
												<div id="francemap" style="float: left; width: 100%; height: 600px;"></div>
										</div>
								</div>

							</div>


							<div class="col-sm-5">

								<div class="col-sm-12" style=" padding-left: 0px; padding-right: 0px;">
									<div class="au-card m-b-30" style="padding-left: 20px;padding-bottom: 0px;padding-top: 15px;">
											<div class="au-card-inner">
												<center>
					                <form method = "post" action = "{% url 'france' %}">
					                  {% csrf_token %}
					                    <select class="custom-select" style="width: 212px;" name="getDept" id="selectDept">
					                      {% for region, departement in dict_regions.items %}
					                        <optgroup label="{{ region }}">
					                          {% for dept in departement %}
					                            <option value="{{ dept }}">{{ dept }} - {{ dict_departement|get_item:dept }}</option>
					                          {% endfor %}
					                        </optgroup>
					                      {% endfor %}
					                    </select>
															<br>
					                    <input class="btn_resume" type="submit" value="Aller au département">
					                  </form>
					                </center>
											</div>
									</div>
								</div>

								<div class="col-sm-12" style=" padding-left: 0px; padding-right: 0px;">
					        <div class="au-card m-b-30" style="padding-left: 20px;padding-bottom: 0px;padding-top: 15px;">
					            <div class="au-card-inner">
					              <div class="well">
													<h5>Ventes et livraisons</h5>
					                <div class="chart-wrapper" id="chart-line1"></div>
					              </div>
					            </div>
					        </div>
					      </div>

							</div>

		</div>


</div>
{% endblock main %}

{% block d3v4 %}
<!-- MULTI LINES CHART -->
<script src="{% static 'newspaper/js/departement_multi_lines.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  let d3v4 = d3
  const w = 360, h = 300;
  const margin = {
      top: 10,
      right: 10,
      bottom: 80,
      left: 60,
  };
  const innerW = w - margin.left - margin.right;
  const innerH = h - margin.top - margin.bottom;

  //let dataset = [];
  let x, y;
  let bisectDate = d3v4.bisector(d => d.date).left;

  //Create SVG element
  let svg = d3v4.select("#chart-line1")
      .append("svg")
      .attr("width", w+40) //Pour afficher les valeurs en fin de courbe
      .attr("height", h)
      .attr("id", "depChart")
      .append("g")
      .attr("transform", `translate(${margin.left}, ${margin.top})`);

  let parseTime = d3v4.timeParse("%Y-%m-%d");
  let formatTime = d3v4.timeFormat("%Y-%m-%d");

  let svgHTML = document.getElementById("depChart");

  /*DATA LOADER FROM DJANGO*/
  let data_sales_deliveries = {{ json_france_sales_deliveries|safe }};
  let data_plot = [];
  data_sales_deliveries = JSON.parse(data_sales_deliveries);

  data_sales_deliveries.forEach(function(item, index){
    data_plot.push({
      "date": parseTime(item["Date"]),
      "sales": Number(item["Sales"]),
      "deliveries": Number(item["Delivered"])});
  });

  if (data_plot.length > 0) {
		console.log(data_plot)
       x = d3v4.scaleLinear()
           .domain(d3v4.extent(data_plot, row => row.date))
           .range([0, innerW]);
       y = d3v4.scaleLinear()
           .domain([0, d3v4.max(data_plot, row => Math.max(row.deliveries, row.sales))])
           .range([innerH, 0]);
       draw(data_plot);
   }


</script>
{% endblock d3v4 %}
