{% extends 'newspaper/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block scriptJS %}
<link href="{% static 'newspaper/js/jqvmap.css' %}" media="screen" rel="stylesheet" type="text/css" />
<script src="{% static 'newspaper/js/jquery.vmap.js' %}" type="text/javascript"></script>
<script src="{% static 'newspaper/js/jquery.vmap.france.js' %}" type="text/javascript"></script>
<script src="{% static 'newspaper/js/jquery.vmap.colorsFrance.js' %}" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function() {
	$('#francemap').vectorMap({
	  map: 'france_fr',
		hoverOpacity: 0.5,
		hoverColor: false,
		backgroundColor: "#ffffff",
		colors: couleurs,
		borderColor: "#000000",
		selectedColor: "#EC0000",
		enableZoom: false,
		showTooltip: true,
    onRegionClick: function(element, code, region)
    {
        var message = 'Département {{ a }}: "'
            + region
            + '" || Code : "'
            + code
			      + '"';
        console.log(message);
        //document.getElementById("TextDept").innerHTML = region;
        //document.getElementById("TextCode").innerHTML = code;
        document.getElementById("selectDept").value = code;
        if (region == "Paris") {
          console.log("OOOOK");
        }
    }
	});
});
</script>
{% endblock scriptJS %}


{% block main %}
<!-- Navigation
==========================================-->
<!--<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">-->
<nav id="tf-menu" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/"><font size=3>Newspapers Predictor</font></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><font>Home</font></a></li>
        <li><a href="/france"><font color="#C6B068" size="5">France</font></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- BODY -->
<div class="container">

		<div class="row">

							<div class="col-sm-8">

								<div class="au-card m-b-30">
										<div class="au-card-inner">
												<div id="francemap" style="float: left; width: 100%; height: 600px;"></div>
										</div>
								</div>

							</div>


							<div class="col-sm-4">

								<div class="col-sm-12" style=" padding-left: 0px; padding-right: 0px;">
									<div class="au-card m-b-30" style="padding-left: 20px;padding-bottom: 0px;padding-top: 15px;">
											<div class="au-card-inner">
												<center>
					                <form method = "post" action = "{% url 'france' %}">
					                  {% csrf_token %}
					                    <select class="custom-select" style="width: 212px;" name="getDept" id="selectDept">
					                      {% for region, departement in dict_regions.items %}
					                        <optgroup label="{{ region }}">
					                          {% for dept in departement %}
					                            <option value="{{ dept }}">{{ dept }} - {{ dict_departement|get_item:dept }}</option>
					                          {% endfor %}
					                        </optgroup>
					                      {% endfor %}
					                    </select>
					                    <input class="btn_resume" type="submit" value="Aller au département">
					                  </form>
					                </center>
											</div>
									</div>
								</div>

								<div class="col-sm-12" style=" padding-left: 0px; padding-right: 0px;">
									<div class="au-card m-b-30" style="padding-left: 20px;padding-bottom: 0px;padding-top: 15px;">
											<div class="au-card-inner">

											</div>
									</div>
								</div>

							</div>

		</div>


</div>
{% endblock main %}
