{% extends 'newspaper/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block main %}
<!-- Navigation
==========================================-->
<!--<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">-->
<nav id="tf-menu" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/predictor"><font size=3>Newspapers Predictor</font></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><font>Home</font></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- BODY -->
<div class="container">
    <div class="row">

      <h2>Newspaper Predictor</h2>
      <div id='predict_container'>
        <div id='left_predict'>

          <form action="compute/" method="GET" class="form">

            <div class='input_select_container'>

              <div class='input_select hover_class'>
                <label for="algorithm">Algorithme de prédiction:</label>
                <select id="algorithm" name='algorithm'>
                  <option value="RF" selected>Random Forest</option>
                  <option value="AD">AdaBoost</option>
                </select>
              </div>

              <div class='input_select hover_class'>
                <label for="start">Date de début:</label>
                <input type="date" id="start" name="start" min="2016-06-01" max="2016-12-31" value="2016-06-26">
              </div>
              <div class='input_select hover_class'>
                <label for="nb_weeks">Nombres de semaine à prédire:</label>
                <select id="nb_weeks" name='nb_weeks'>
                  <option value="1">1</option>
                  <option value="2" selected>2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>

            </div>

            <div class='input_select_container'>
              <div class='input_select hover_class'><input type="submit" value="Lancer la prédiction"></div>
            </div>
          </form>
        </div>


      </div>

    </div>
</div>
{% endblock main %}
