{% extends 'newspaper/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block scriptJS %}
<script type="text/javascript" src="{% static 'newspaper/js/results.js' %}"></script>
<script type="text/javascript" src="{% static 'newspaper/js/d3.min.js' %}"></script>

{% endblock scriptJS %}

{% block main %}
<!-- Navigation
==========================================-->
<!--<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">-->
<nav id="tf-menu" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#"><font size="3">Partie Prédiction</font></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/prediction">Prédiction</a></li>
        <li><a href="#"><font color="#C6B068" size="5">Résultats</font></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- BODY -->
<div class="container">

    <div class="row">

      <h2 style="margin-bottom: 30px">Résultats</h2>

      <div class="col-sm-3" style="">
        <div class="au-card m-b-30">
            <div class="au-card-inner">
              <div class="well" style="margin-bottom: 0px;height: 90px;">
                <label for="cost_price" >Coût par impression:</label>
                <input class='small-input' id='cost_price' type='text' value='0.15'></input>€
                <br>
                <label for="benefit" style="padding-bottom: 5px">Bénéfice par vente:&nbsp;&nbsp;</label>
                <input class='small-input' id='benefit' type='text' value='1.00'></input>€
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6" style="">
        <div class="au-card m-b-30">
            <div class="au-card-inner">
              <div class="well" style="margin-bottom: 0px; height: 90px;">
                <label for="nb_sigma"><span id='sigma-text'>Nombres de sigma à utiliser:  </span><span id='nb_sigma_value'></span></label>
                <div id="popup" style="display: none">
                  Coefficient de risque de rupture (basé sur l'historique de chaque point de ventes).
                </div>
                <input id='nb_sigma' type='range' min='0' max='3' step='0.01' value='0.68'></input>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-3" style="">
        <div class="au-card m-b-30">
            <div class="au-card-inner">
              <div class="well" style="margin-bottom: 0px;height: 90px;">
                <label for="cost_price" >Prévenez vos distributeurs !</label>
                <center>
                <form method = "post" action = "{% url 'resultats' %}">
                  {% csrf_token %}
                  <input class="btn_mail" type="submit" value="Envoyer mail">
                </form>
              </center>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4">
        <div class="au-card m-b-30">
            <div class="au-card-inner">
              <div class='well' style="margin-top: 20px;">
                <h5>ROI</h5>
                <div class='single_result_plot hover_class' id='roi'></div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="au-card m-b-30">
            <div class="au-card-inner">
              <div class='well' style="margin-top: 20px;">
                <h5>VAZ</h5>
                <div class='single_result_plot hover_class' id='vaz'></div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="au-card m-b-30">
            <div class="au-card-inner">
              <div class='well' style="margin-top: 20px;">
                <h5>Chiffre d'affaire</h5>
                <div class='single_result_plot hover_class' id='ca'></div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="au-card m-b-30">
            <div class="au-card-inner">
              <div class='well' style="margin-top: 20px;">
                <h5>Livraisons</h5>
                <div class='single_result_plot hover_class' id='delivered'></div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="au-card m-b-30">
            <div class="au-card-inner">
              <div class='well' style="margin-top: 20px;">
                <h5>Ventes</h5>
                <div class='single_result_plot hover_class' id='sales'></div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="au-card m-b-30">
          <div class='well' style="margin-top: 20px;">
            <h5>Invendus</h5>
            <div class='single_result_plot hover_class' id='unsales'></div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="au-card m-b-30">
            <div class="au-card-inner">
              <div class='well' style="margin-top: 20px;">
                <h5>Ruptures Ratio</h5>
                <div class='single_result_plot hover_class' id='rupture_ratio'></div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="au-card m-b-30">
            <div class="au-card-inner">
              <div class='well' style="margin-top: 20px;">
                <h5>Ruptures</h5>
                <div class='single_result_plot hover_class' id='ruptures'></div>
              </div>
            </div>
        </div>
      </div>

    </div>


</div>
{% endblock main %}


{% block d3v4 %}
<script type="text/javascript">
  let e = document.getElementById('sigma-text');
  e.onmouseover = () => document.getElementById('popup').style.display = 'block';
  e.onmouseout = () => document.getElementById('popup').style.display = 'none';




</script>


<script type="text/javascript">

  let cost;
  let benefit;
  let sigma;
  let ruptures_bar;
  let ruptures_ratio_bar;
  let sales_bar;
  let delivered_bar;
  let unsales_bar;
  let roi_bar;
  let ca_bar;


  let data;
  $.getJSON("{% static 'newspaper/data/predictions.json' %}", json => {
    data = json;
    console.log(data[0]);



    const compute_deli = sigma => {
      data.forEach(d => {
        d['Delivered_prediction'] = Math.trunc(d.Predictions + +sigma*d.std);
      });
    }

    const ratio_rupture = () => {
      let pessimistic = 0;
      let optimistic = 0;
      let reality = 0;

      for (let d of data){
          pessimistic += (d.Delivered_prediction <= d.Sales);
          optimistic += (d.Delivered_prediction <= d.Pot_Sales);
          reality += (d.Delivered <= d.Sales);
      }
      return [{'abscisse':'Reality', 'height_value':Math.trunc(reality/data.length*1000)/10, 'unit':'%'}, 
        {'abscisse':'Optimistic', 'height_value':Math.trunc(optimistic/data.length*1000)/10, 'unit':'%'},
        {'abscisse':'Pessimistic', 'height_value':Math.trunc(pessimistic/data.length*1000)/10, 'unit':'%'}];
    }

    const nb_ruptures = () => {
      let pessimistic = 0;
      let optimistic = 0;
      let reality = 0;

      for (let d of data){
          pessimistic += (d.Delivered_prediction <= d.Sales);
          optimistic += (d.Delivered_prediction <= d.Pot_Sales);
          reality += (d.Delivered <= d.Sales);
      }
      return [{'abscisse':'Reality', 'height_value':Math.trunc(reality/1000), 'unit':'k'}, 
        {'abscisse':'Optimistic', 'height_value':Math.trunc(optimistic/1000), 'unit':'k'},
        {'abscisse':'Pessimistic', 'height_value':Math.trunc(pessimistic/1000), 'unit':'k'}];
    }

    const nb_sales = () => {
      let pessimistic = 0;
      let optimistic = 0;
      let reality = 0;

      for (let d of data){
        pessimistic += Math.min(d.Delivered_prediction, d.Sales);
        optimistic += Math.min(d.Delivered_prediction, d.Pot_Sales);
        reality += d.Sales;
      }

      return [{'abscisse':'Reality', 'height_value':Math.trunc(reality/1000), 'unit':'k'},
        {'abscisse':'Optimistic', 'height_value':Math.trunc(optimistic/1000), 'unit':'k'},
        {'abscisse':'Pessimistic', 'height_value':Math.trunc(pessimistic/1000), 'unit':'k'}];
    }

    const nb_delivered = () => {
      let model = 0;
      let reality = 0;

      for (let d of data){
        model += d.Delivered_prediction;
        reality += d.Delivered;
      }
      return [{'abscisse':'Reality', 'height_value':Math.trunc(reality/1000), 'unit':'k'},
        {'abscisse':'Optimistic', 'height_value':Math.trunc(model/1000), 'unit':'k'},
        {'abscisse':'Pessimistic', 'height_value':Math.trunc(model/1000), 'unit':'k'}];
    }

    const nb_unsales = () => {

      let pessimistic = 0;
      let optimistic = 0;
      let reality = 0;

      for (let d of data){
        pessimistic += Math.max(d.Delivered_prediction, d.Sales) - Math.min(d.Delivered_prediction, d.Sales);
        optimistic += Math.max(d.Delivered_prediction, d.Pot_Sales) - Math.min(d.Delivered_prediction, d.Pot_Sales);
        reality += d.Delivered - d.Sales;
      }

      return [{'abscisse':'Reality', 'height_value':Math.trunc(reality/1000), 'unit':'k'},
        {'abscisse':'Optimistic', 'height_value':Math.trunc(optimistic/1000), 'unit':'k'},
        {'abscisse':'Pessimistic', 'height_value':Math.trunc(pessimistic/1000), 'unit':'k'}];
    }


    const compute_roi = (cost, benefit) => {
      let pessimistic = 0;
      let optimistic = 0;
      let reality = 0;

      for (let d of data){
        // pessimistic += -cost*(d.Delivered_prediction) + benefit*Math.min(d.Delivered_prediction, d.Sales);
        // optimistic += -cost*(d.Delivered_prediction) + benefit*Math.min(d.Delivered_prediction, d.Pot_Sales);
        // reality += -cost*(d.Delivered - d.Sales) + benefit*d.Sales;
        pessimistic += -cost*(d.Delivered_prediction - Math.min(d.Delivered_prediction, d.Sales))+ benefit*Math.min(d.Delivered_prediction, d.Sales);
        optimistic += -cost*(d.Delivered_prediction - Math.min(d.Delivered_prediction, d.Pot_Sales))+ benefit*Math.min(d.Delivered_prediction, d.Pot_Sales);
        reality += -cost*(d.Delivered - d.Sales) + benefit*d.Sales;
      }

      return [{'abscisse':'Reality', 'height_value':Math.trunc(reality/1000), 'unit':'k€'},
        {'abscisse':'Optimistic', 'height_value':Math.trunc(optimistic/1000), 'unit':'k€'},
        {'abscisse':'Pessimistic', 'height_value':Math.trunc(pessimistic/1000), 'unit':'k€'}];
    }

  // Chiffre d'affaire
    const compute_ca = (cost, benefit) => {
      let pessimistic = 0;
      let optimistic = 0;
      let reality = 0;

      for (let d of data){
        // pessimistic += -cost*(d.Delivered_prediction) + benefit*Math.min(d.Delivered_prediction, d.Sales);
        // optimistic += -cost*(d.Delivered_prediction) + benefit*Math.min(d.Delivered_prediction, d.Pot_Sales);
        // reality += -cost*(d.Delivered - d.Sales) + benefit*d.Sales;
        pessimistic += -cost*d.Delivered_prediction + benefit*Math.min(d.Delivered_prediction, d.Sales);
        optimistic += -cost*d.Delivered_prediction + benefit*Math.min(d.Delivered_prediction, d.Pot_Sales);
        reality += -cost*(d.Delivered) + benefit*d.Sales;
      }

      return [{'abscisse':'Reality', 'height_value':Math.trunc(reality/1000), 'unit':'k€'},
        {'abscisse':'Optimistic', 'height_value':Math.trunc(optimistic/1000), 'unit':'k€'},
        {'abscisse':'Pessimistic', 'height_value':Math.trunc(pessimistic/1000), 'unit':'k€'}];
    }



    const find_best_sigma = (cost, benefit) => {
      let best_sigma = 0;
      let max_roi_opti = 0;

      for (let i=0; i<4; i += 0.1){
        compute_deli(i);
        let roi = compute_roi(cost, benefit)[1]['height_value'];
        if (roi > max_roi_opti){
          max_roi_opti = roi;
          best_sigma = i;
        }
      }
      return best_sigma;
    }

    const update_plots = () => {
      compute_deli(sigma);
      ruptures_ratio_bar = new BarPlot('rupture_ratio', ratio_rupture(), '%');
      ruptures_bar = new BarPlot('ruptures', nb_ruptures(), 'Points de ventes');
      sales_bar = new BarPlot('sales', nb_sales(), 'Journaux');
      delivered_bar = new BarPlot('delivered', nb_delivered(), 'Journaux');
      unsales_bar = new BarPlot('unsales', nb_unsales(), 'Journaux');
      roi_bar = new BarPlot('roi', compute_roi(cost, benefit), 'k€   Euros');
      ca_bar = new BarPlot('ca', compute_ca(cost, benefit), 'k€ Euros');
    }

    let cost_entry = document.getElementById('cost_price');
    cost = +cost_entry.value;
    cost_entry.addEventListener('change', e => {
      cost = +cost_entry.value;
      update_plots();
    });

    let benefit_entry = document.getElementById('benefit');
    benefit = +benefit_entry.value;
    benefit_entry.addEventListener('change', e => {
      benefit = +benefit_entry.value;
      update_plots();
    });





    let sigma_entry = document.getElementById('nb_sigma');
    sigma = Math.trunc(find_best_sigma(cost, benefit)*100)/100;
    sigma_entry.value = sigma;
    document.getElementById('nb_sigma_value').innerHTML = sigma;

    document.addEventListener('keydown', (event) => {
      if (event.key === 'a') {
        if (sigma < 2.98){
          sigma = +document.getElementById('nb_sigma').value + 0.03;
        }
      } else if (event.key === 'z') {
        if (sigma > 0.02){
          sigma = +document.getElementById('nb_sigma').value - 0.03;
        }
      }

      document.getElementById('nb_sigma').value = sigma ;
      document.getElementById('nb_sigma_value').innerHTML = Math.trunc(sigma*100)/100;
      update_plots();

    }, false);


    sigma_entry.addEventListener('change', e => {
      sigma = e.target.value;
      document.getElementById('nb_sigma_value').innerHTML = sigma;

      update_plots();
    });

    update_plots();

  });
</script>
{% endblock d3v4 %}
