 {% extends 'newspaper/base.html'  %}
{% load static %}
<!DOCTYPE html>


{% block navigation %}
<!-- Navigation
==========================================-->
<nav id="tf-menu" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#"><font size=3>Partie Analyse</font></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><font>Home</font></a></li>
        <li><a href="/france"><font>Analyse</font></a></li>
        <li><a href="/france/{{code_dept}}"><font>{{nom_departement}}</font></a></li>
        <li><a href="/france/{{code_dept}}/{{nom_ville}}"><font color="#C6B068" size="5">{{nom_ville}}</font></a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock navigation %}


{% block main %}
<!-- BODY -->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<div class="row content" style="padding-top: 0px;">

  <div class="col-sm-1 sidenav"></div>
  <div class="col-sm-8 text-left">
    <h2 style="margin-top: 20px; margin-bottom: 30px;">Prédiction pour {{nom_ville}}</h2>
    <center>
      <div style="overflow-x:auto;">
        <table class="table_df">
          <tr class="col_row_df">
            <th class="col_row_df">Kiosque ID</th>
            <th class="col_row_df">Ville</th>
            <th class="col_row_df">Implantation</th>
            <th class="col_row_df">Segment</th>
            <th class="col_row_df">Ruptures à l'année</th>
            <th class="col_row_df">État</th>
          </tr>
          {% for line in list_df_values %}
            <tr class="col_row_df">
            {% for c in line %}
                {% if c == "1" %}
                <td class="col_row_df">❌</td>
                {% elif c == "0" %}
                <td class="col_row_df">⚠️</td>
                {% elif c == "-1" %}
                <td class="col_row_df">✅</td>
                {% else %}
                <td class="col_row_df">{{c}}</td>
                {% endif %}
            {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div>
    </center>
  </div>
  <div class="col-sm-1 sidenav"></div>

</div>
{% endblock main %}
